body{
    background-color: black;
}

.glowButtontext :hover{
    text-shadow:
    0 0 42px #fff,
    0 0 62px #fff;
    font-weight: 400;
    color: white;
}

.myControlclass{
    background-color: #1E1E1E !important;
    height: 4rem;
    border: none !important;
    border-radius: 0.5rem !important;
    display: flex;
    align-items: center;
    color: #8B8B8B !important;
    padding: 1rem 1.5rem !important;
}

.myMenuClassName{
    background-color: #2A2A2A!important;
    border: none !important;
    border-radius: 0.5rem !important;
    padding: 1rem 1.5rem !important;
    color: #8B8B8B !important;;
}

.Dropdown-option{
    color: #8B8B8B !important;
    background-color: #2A2A2A !important;
    padding: 8px 0 !important;
}

.myArrowClassName {
    margin-top: 17px;
    right: 20px !important;
    cursor: pointer;
}

.about-bg{
    background: url("assets/covers/about-bg.svg");
    background-position: 100% 50%;
    background-attachment: fixed;
}

.home-bg{
    background: url("assets/covers/mintflick.gif");
    background-size: cover;
    background-position: 100% 50% ;
}

.details-bg {
    background: url("assets/covers/details.svg");
    background-size: cover;
}

.illustrations-tab-bg {
    background: url("assets/portfolio/illustrations/IMG_0774.JPG");
    background-size: cover;
}

.character-tab-bg {
    background: url("assets/portfolio/character-design/IMG_6082.JPG");
    background-size: cover;
}

.concept-tab-bg {
    background: url("assets/portfolio/concept-art/IMG_5944.JPG");
    background-size: cover;
}

.visual-tab-bg {
    background: url("assets/portfolio/visual-development/IMG_0751.JPG");
    background-size: cover;
}

.fantasy-tab-bg {
    background: url("assets/portfolio/fantasy-art/IMG_5952.JPG");
    background-size: cover;
}

.book-tab-bg {
    background: url("assets/portfolio/book-illustrations/IMG_9741.JPG");
    background-size: cover;
}

.cover-tab-bg {
    background: url("assets/portfolio/cover-art/4.jpg");
    background-size: cover;
}

.children-tab-bg {
    background: url("assets/portfolio/children-art/IMG_0760.JPG");
    background-size: cover;
}

.environment-tab-bg {
    background: url("assets/portfolio/environmental-design/IMG_5397.JPG");
    background-size: cover;
}

.game-tab-bg {
    background: url("assets/portfolio/game-art/IMG_0748.JPG");
    background-size: cover;
}

.graphics-tab-bg {
    background: url("assets/portfolio/graphic-design/IMG_3772.JPG");
    background-size: cover;
}

.storyboard-tab-bg {
    background: url("assets/portfolio/book-illustrations/IMG_9741.JPG");
    background-size: cover;
}

.unreal-tab-bg {
    background: url("assets/portfolio/children-art/IMG_0760.JPG");
    background-size: cover;
}

.animation-tab-bg {
    background: url("assets/portfolio/visual-development/IMG_0751.JPG");
    background-size: cover;
}

.voiceover-tab-bg {
    background: url("assets/portfolio/illustrations/IMG_0774.JPG");
    background-size: cover;
}

.ui-tab-bg {
    background: url("assets/portfolio/character-design/IMG_6082.JPG");
    background-size: cover;
}

.vector_button{
    background: url("assets/portfolio/cover-art/4.jpg");
    background-position: 100% 50%;
}

.vigenette {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient( transparent, transparent, #000);
    border-radius: 0.5rem;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
}

.vigenette :hover{
    opacity: 100;
}

.hidescroll::-webkit-scrollbar{
    display: none;
}

.one{
    animation: one 1s ease-in;
}

.two{
    animation: two 1s ease-in;
    animation-delay: 1s;
}

.three{
    animation: three 3s ease-in;
    animation-delay: 1s;
}

.four{
    animation: four 2s ease-in;
    animation-delay: 2s;
    
}

.five{
    transform: scale(10,10);
    margin-left: -5rem;
    margin-top: -7.5rem;
    animation: five 2.5s ease-in;
    animation-delay: 4s;
}

.animate-bg{
    animation: bg 10s ease-in;
}

@keyframes one {
    0%,
    50% {
      opacity: 0;
    }
     
    60%,
    100% {
      opacity: 1;
    }
}

@keyframes two {
    0%,
    50% {
      opacity: 0;
    }
     
    60%,
    100% {
      opacity: 1;
    }
}

@keyframes three {
    0%,
    50% {
      transform: translateY(100%);
      opacity: 0;
    }
     
    60%,
    100% {
      transform: translateY(0);
      opacity: 1;
    
    }
}

@keyframes four {
    0%,
    50% {
      transform: translateY(100%);
      opacity: 0;
    }
     
    60%,
    100% {
      transform: translateY(-10%);
      opacity: 1;
    }
}

@keyframes bg {
    0%,
    50% {
        background-color: #E7881A;
      opacity: 1;
    }
     
    60%{
        background-color: black;
      opacity: 1;
    }
    100% {
        background-color: black;
      opacity: 0;
    }
}

@keyframes five {
    0%{
        transform: scale(10,10);
        opacity: 1;
    }   
    50%{
        opacity: 1;
    }
    100% {
        transform: scale(1,1);
        opacity: 0;
    }
}


@media screen and (max-width : 1024px) {
    .about-bg{
        background-position: 50% 50%;
        background-size: cover;
    }
}

@media screen and (max-width : 768px) {
.myControlclass{
    padding: 0.5rem 1rem !important;
    height: 3.5rem;
}

}
