@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilroy";
    src: url("../public/assets/fonts/Gilroy-Font/Gilroy-Regular.woff");
    font-weight: regular;
  }
  @font-face {
    font-family: "Gilroy-Medium";
    src: url("../public/assets/fonts/Gilroy-Font/Gilroy-Medium.woff");
    font-weight: medium;
  }
  @font-face {
    font-family: "Gilroy-ExtraLight";
    src: url("../public/assets/fonts/Gilroy-Font/Gilroy-UltraLight.woff");
    font-weight: light;
  }
  @font-face {
    font-family: "Gilroy-Light";
    src: url("../public/assets/fonts/Gilroy-Font/Gilroy-Light.woff");
    font-weight: light;
  }
  
  @font-face {
    font-family: "Gilroy-Medium";
    src: url("../public/assets/fonts/Gilroy-Font/Gilroy-Medium.woff");
    font-weight: heavy;
  }
  @font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("../public/assets/fonts/Gilroy-Font/Gilroy-ExtraBold.woff");
    font-weight: extraBold;
  }
  @font-face {
    font-family: "Gilroy-Bold";
    src: url("../public/assets/fonts/Gilroy-Font/Gilroy-Bold.woff");
    font-weight: bold;
  }
  @font-face {
    font-family: "Gilroy-Black";
    src: url("../public/assets/fonts/Gilroy-Font/Gilroy-Black.woff");
    font-weight: black;
  }

  @font-face {
    font-family: "Din-Condensed";
    src: url("../public/assets/fonts/Din-Condensed/DINCondensed-Bold.ttf");
  }

  @font-face {
    font-family: "Baby-monsta";
    src: url("../public/assets/fonts/Baby-monsta/Baby\ Monsta.otf");
  }

  @font-face {
    font-family: "Futura-bold";
    src: url("../public/assets/fonts/Futura/Futura\ Bold/Futura-Bold.otf");
  }

  .font-head{
    font-family: "Din-Condensed";
  }
  
  .font-secondary{
    font-family: "Gilroy-ExtraLight";
  }

  .font-primary{
    font-family: "Gilroy";
  }

  .font-tertiary{
    font-family: "Gilroy-Light";
  }

  .font-intro{
    font-family: "Baby-monsta";
  }

  .font-intro2{
    font-family: "Futura-bold";
  }

  .body{
  background-color: black;
}

.glowButtontext :hover{
  text-shadow:
  0 0 42px #fff,
  0 0 62px #fff;
  font-weight: 400;
  color: white;
}

.myControlclass{
  background-color: #1E1E1E !important;
  height: 4rem;
  border: none !important;
  border-radius: 0.5rem !important;
  display: flex;
  align-items: center;
  color: #8B8B8B !important;
  padding: 1rem 1.5rem !important;
}

.myMenuClassName{
  background-color: #2A2A2A!important;
  border: none !important;
  border-radius: 0.5rem !important;
  padding: 1rem 1.5rem !important;
  color: #8B8B8B !important;
}

.Dropdown-option{
  color: #8B8B8B !important;
  background-color: #2A2A2A !important;
  padding: 8px 0 !important;
}

.myArrowClassName {
  margin-top: 17px;
  right: 20px !important;
  cursor: pointer;
}

.about-bg{
  background: url("../public/assets/covers/about-bg.svg");
  background-position: 100% 50%;
  background-attachment: fixed;
}

.home-bg{
  background: url("../public/assets/covers/mintflick.gif");
  background-size: cover;
  background-position: 100% 50% ;
}

.details-bg {
  background: url("../public/assets/covers/details.svg");
  background-size: cover;
}

.illustrations-tab-bg {
  position: relative;
  background: url("../public/assets/portfolio/illustrationss/IMG_0774.jpg");
  background-size: cover;
}

.after:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
}

.character-tab-bg {
  background: url("../public/assets/portfolio/characterdesign/IMG_6082.jpg");
  background-size: cover;
   position: relative;
}

.concept-tab-bg {
  background: url("../public/assets/portfolio/conceptart/IMG_5944.jpg");
  background-size: cover;
   position: relative;
}

.visual-tab-bg {
  background: url("../public/assets/portfolio/visualdevelopment/IMG_0751.jpg");
  background-size: cover;
   position: relative;
}

.fantasy-tab-bg {
  background: url("../public/assets/portfolio/fantasyart/IMG_5952.jpg");
  background-size: cover;
   position: relative;
}

.book-tab-bg {
  background: url("../public/assets/portfolio/bookillustrations/IMG_9741.jpg");
  background-size: cover;
   position: relative;
}

.cover-tab-bg {
  background: url("../public/assets/portfolio/coverart/4.jpg");
  background-size: cover;
   position: relative;
}

.children-tab-bg {
  background: url("../public/assets/portfolio/childrenart/IMG_0760.jpg");
  background-size: cover;
   position: relative;
}

.environment-tab-bg {
  background: url("../public/assets/portfolio/environmentaldesign/IMG_5397.jpg");
  background-size: cover;
   position: relative;
}

.game-tab-bg {
  background: url("../public/assets/portfolio/gameart/IMG_0748.jpg");
  background-size: cover;
   position: relative;
}

.graphics-tab-bg {
  background: url("../public/assets/portfolio/graphicdesign/IMG_3772.jpg");
  background-size: cover;
   position: relative;
}

.storyboard-tab-bg {
  background: url("../public/assets/portfolio/bookillustrations/IMG_9741.jpg");
  background-size: cover;
   position: relative;
}

.unreal-tab-bg {
  background: url("../public/assets/portfolio/childrenart/IMG_0760.jpg");
  background-size: cover;
   position: relative;
}

.animation-tab-bg {
  background: url("../public/assets/portfolio/visualdevelopment/IMG_0751.jpg");
  background-size: cover;
   position: relative;
}

.voiceover-tab-bg {
  background: url("../public/assets/portfolio/illustrationss/IMG_0774.jpg");
  background-size: cover;
   position: relative;
}

.ui-tab-bg {
  background: url("../public/assets/portfolio/characterdesign/IMG_6082.jpg");
  background-size: cover;
   position: relative;
}

.vector_button{
  background: url("../public/assets/portfolio/coverart/4.jpg");
  background-position: 100% 50%;
}

.vigenette {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient( transparent, transparent, #000);
  border-radius: 0.5rem;
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
}

.vigenette :hover{
  opacity: 100;
}

.hidescroll::-webkit-scrollbar{
  display: none;
}

.one{
  animation: one 1s ease-in;
}

.two{
  animation: two 1s ease-in;
  animation-delay: 1s;
}

.three{
  animation: three 3s ease-in;
  animation-delay: 1s;
}

.four{
  animation: four 2s ease-in;
  animation-delay: 2s;
  
}

.five{
  transform: scale(10,10);
  margin-left: -5rem;
  margin-top: -7.5rem;
  animation: five 3s ease-in;
  animation-delay: 4s;
}

.animate-bg{
  animation: bg 10s ease-in;
}

@keyframes one {
  0%,
  50% {
    opacity: 0;
  }
   
  60%,
  100% {
    opacity: 1;
  }
}

@keyframes two {
  0%,
  50% {
    opacity: 0;
  }
   
  60%,
  100% {
    opacity: 1;
  }
}

@keyframes three {
  0%,
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
   
  60%,
  100% {
    transform: translateY(0);
    opacity: 1;
  
  }
}

@keyframes four {
  0%,
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
   
  60%,
  100% {
    transform: translateY(-10%);
    opacity: 1;
  }
}

@keyframes bg {
  0%,
  50% {
      background-color: #E7881A;
    opacity: 1;
  }
   
  60%{
      background-color: black;
    opacity: 1;
  }
  100% {
      background-color: black;
    opacity: 0;
  }
}

@keyframes five {
  0%{
      transform: scale(10,10);
      opacity: 1;
  }   
  50%{
      opacity: 1;
  }
  70%{
      transform: scale(1,1);
      opacity: 1;
  }
  100% {
      transform: scale(1,1);
      opacity: 0;
  }
}


@media screen and (max-width : 1024px) {
  .about-bg{
      background-position: 50% 50%;
      background-size: cover;
  }
}

@media screen and (max-width : 768px) {
.myControlclass{
  padding: 0.5rem 1rem !important;
  height: 3.5rem;
}

}
